.container{
    background-color: lightgreen;
    height: 800px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    
}
.header{
    height: 100px;
    background-color: rosybrown;
    padding:10px;
    margin:0px;
    border:2px solid lightgreen;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgb(190, 117, 117);
    text-align: center;
    font-size: 50px;
}